.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #c57d46, #1b1b1b,red);
  color: rgb(55, 46, 6);
}

h1 {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(245, 245, 244);
}

/* Remove .App-header styling */

.post-type-label {
  text-align: left;
  margin-left: 15px;
  color: rgb(236, 180, 180);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.App-header {
  background-color: #000000; 
  text-align: left;
  color: white;
}
/* buttons overall */
.post-type-buttons {
  display: flex;
  justify-content:left;
  margin: 20px;
}
/* Inner styling */
.post-type-buttons button {
  padding: 10px 20px;
  margin:0px 10px 0px 0px;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f1a07d;
  cursor: pointer;

}
/* buttons when clicked */
.post-type-buttons button.active {
  background-color: #f5672e;
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
