/* QuestionForm.css */

.post-form {
  background:#2a1404;
    padding-right:30px;
    padding-left:10px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .post-form h2 {

    background-color: rgb(118, 111, 90);
    font-size: 20px;
    margin-bottom: 0px;
    display:flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .post-form h3 {
     font-family:monospace;
     font-size: 15px;
     color: #f1a07d;

  }
    .form-group label {
    display: flex;
    font-weight: bolder;
    margin-bottom:5px;
    color: #f1a07d;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
  }
  
  button[type="submit"] {
    margin-left: 0%;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #f1a07d;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
  
  button[type="submit"]:hover {
    background-color: #f5672e;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
  }
  
